@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-4">
        <h2>View Accounts</h2>
        <p>Click below to view the accounts page:</p>
        <p><a class="btn btn-default" href="~/Account/Accounts">Accounts</a></p>
    </div>
</div>